/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
    color: #ffffff;
}

a:hover {
    color: #4d4d4d;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;

}

h1 {
    font-size: 3em;
    letter-spacing: 2px;
    color: #333333;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
    color: #333;
    color: rgba(0,0,0,0.5);
}
.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}
h1{
    font-size: 6em;
}
p{
    font-size: 2em;
}

.section{
    text-align:center;
}
#menu li {
    text-transform: uppercase;
    display:inline-block;
    margin: 10px 0 0 50px ;
    color: #ffffff;
    padding-left: 10px;
    text-align: center;

}
#menu li.active{
    color: #b0813b;
    text-shadow: #ffffff;
}
#menu li a{
    text-decoration:none;
}
#menu li.active a:hover{
    color: #e3ba0c;
}
#menu li:hover{
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #e3ba0c;
    text-decoration: double;
}
#menu{
    position:fixed;
    top:0;
    left: 0;
    height: 60px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    letter-spacing: 1px;
}


/* Sections
         * --------------------------------------- */
#section0 img, #section1 img{
    margin: 0 0 0 0;
    padding: 0;
    opacity: .9;

}
#section2 img{
    margin: 0;
    max-width: 100%;
}
#section3 img{
    margin: 0;
    max-width: 100%;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: #000; /* in case the video doesn't fit the whole page*/
    background-image: url("../images/KeyboardingSideView-HD.mp4");
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}
#section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
    color: white;
}
#section3 {
    background: url("../images/Lumber.jpg") 100% 50% no-repeat;
    opacity: .9;
}
#section5 h1 {
    font-family: "Damion", cursive;

}

